.logo_bg {
    background-color: rgb(252, 214, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */
}
.select_bg {
    background-color: rgb(252, 214, 219);
    padding: 0.55rem ;
}

.border_left {
    border: solid rgba(128, 128, 128, 0.4) 1px;
}

.f_size {
    font-size: 14px;
    margin: 12px;
    padding: 6px 0   ;
}
.f_size_r {
    font-size: 14px;
}

.f_size_s {
    font-size: 9px;
    font-weight: bold;
     
}


.icon-red {
    color: red;
  }

.head_bg {
    background-color: red;
    color: white;
}

.hd1 {
    text-align: center;
    background-color: red;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem; width: 50% ;
    margin: 4ch 0 2ch ;
    border-radius: 10px; 
    position: relative ; 
}
.hd2 {
    text-align: center;
    background-color: rgb(82, 92, 235);
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem; width: 30% ;
    margin: 2ch 0  0 ;
    border-radius: 10px; 
    position: relative ; 
}

.relative {
    position: relative;
    width: 40%;
    left: 30%;
    height: 200px;
    border: 3px solid brown;
  } 

